/* App.scss */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  &-left {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
      display: block;
      color: rgb(17, 17, 17);
      text-align: center;
      text-decoration: none;
      padding: 40px 30px;
      transition: 0.2s ease-in;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        color: rgb(51, 53, 53);
        text-decoration: underline;
      }
    }
  }

  &-right {
    padding: 20px 20px;

    .log-out {
      display: flex;
      align-items: center;
      gap: 20px;

      &:hover {
        color: rgb(51, 53, 53);
        cursor: pointer;
      }
    }
  }
}
