.profile {
 

  .pictures {
    display: flex;
    align-items: center;
    justify-content: center;

    .coverpic {
      position: relative;
    }

    .profilepic {
      position: absolute;
      bottom: 0;
      left: 10;

      .profilepicimg {
        background-color: red;
        border-radius: 50%;
      }
    }
  }
}
